<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Book List</title>
</head>

<Style>
    .container {
        display: flex;
        justify-content: center;
    }

    .card {
        padding: 24px;
        background-color: #a7f2e7;
        border-radius: 10px;
        box-shadow: 2px 5px 7px gray;
    }
</Style>

<body>
    <div class="container">
        <div class="card">
            <h1>Book Lists</h1>
            <div>
                {% for book in books %}
                <p>{{ book.title }} - {{ book.author.name }}</p>
                {% endfor %}
            </div>
        </div>
    </div>
</body>

</html>